<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Hunt</title>
    <link href="main.css" rel="stylesheet" />
  </head>

  <body>
    <header class="header">
      <h3 class="header__sitename">Job Hunt</h3>
      <nav class="header__navigation">
      </nav>
      <div class="header__actions">
        <span>Пользователь: </span>
        <span id="logout-button" class="logout-button">Выйти</span>
      </div>
    </header>

    <main class="main">