<%- include('layout/header') %>
<% if (vacancies.length === 0) { %>
  <h2 class="placeholder">Нет доступных вакансий</h2>
<% } else { %>
  <div class="wrapper">
    <div class="filter">
      <span>Занятость:</span>
      <form id="employment-form">
        <input id="employment-filter" class="input _border_main" />
      </form>
    </div>
    <div class='list' id="vacancy-list">
     <% vacancies.forEach(vacancy => { %>
      vacancy
     <% }) %>
    </div>
  </div>
<% } %>
<%- include('layout/footer') %>